{% extends 'base.html' %}

{% block title %}Delete Account{% endblock %}

{% block content %}
<div class="admin-layout">
    <aside class="admin-sidebar">
        <div class="admin-logo">CaseEdu<br>Admin</div>

        <a href="{% url 'adminpanel:admin_dashboard' %}" class="admin-link">🏠Dashboard</a>
        <a href="{% url 'adminpanel:new_account' %}" class="admin-link">➕New Account</a>
        <a href="{% url 'adminpanel:accounts_list' %}" class="admin-link active">👥Accounts</a>
        <a href="{% url 'adminpanel:groups_list' %}" class="admin-link">🏫 Groups</a>
        <a href="{% url 'adminpanel:new_group' %}" class="admin-link">📌New Group</a>
        <a href="{% url 'adminpanel:admin_logout' %}" class="admin-link">🚪Logout</a>
    </aside>

    <section class="admin-content">
        <div class="admin-box">
            <h1>Accountni o‘chirish</h1>
            <p>
                <strong>{{ delete_user.first_name }} {{ delete_user.last_name }}</strong>
                accountini o‘chirmoqchimisiz?
            </p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Ha, o‘chirish</button>
                <a href="{% url 'adminpanel:accounts_list' %}" class="btn btn-secondary">Bekor qilish</a>
            </form>
        </div>
    </section>
</div>
{% endblock %}